<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand nav-white-color" style="color: black;" routerLink="">
      scPublications
    </a>
  
      <ul class="navbar-nav ml-auto" style="color: black;">
        <li class="nav-item">
          <a class="nav-link nav-white-color" style="color: black;" routerLink="/login">LogIn</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link nav-white-color" style="color: black;" routerLink="/register">Register</a>
        </li>
       
      </ul>
      
  </nav>