<div class="bg">
 
    <div class="formRev-page">
        <div class="container">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <form class="formR">
                 
                  <h2>Titl</h2>
                 
                  <h5>
                   Author name:
                   <br/>
                   Author lastname:
                  </h5>
                  <br>
                
                  <p><b>Abstract: </b><input type="text"/></p>
                  <p><b>Chapter: </b> <input type="text"/> </p>
                  
                   <p><b>Type: </b></p>
                  <b>Keywords: </b> 
            
                  <p>
                      <b>parag</b>
                      <textarea  class="form-control" name="comment"  rows="4" cols="50" placeholder="Comment"></textarea>
                      <button class="btn btn-primary btn-block" (click)="addComment()" >Add comment</button>
                    
                  </p>
        
        
                <table>
                    <tr>
                        <td>
                            <b>Chapter: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "uniqueness" name="uniqueness">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Keywords: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "keywords" name="keywords">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Abstract: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "abstract" name="abstract">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Conclusion: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "conclusion" name="conclusion">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <b>Layout: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "layout" name="layout">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
        
                    <tr>
                        <td>
                            <b>General grade: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "generalGrade" name="generalGrade">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>References: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "references" name="references">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Headings: </b>
                        </td>
                        <td>
                            <select  [(ngModel)] = "headings" name="headings">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="4">4</option>
                                <option [ngValue]="3">3</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="1">1</option>
                              </select>
                        </td>
                    </tr>
                </table>
                <textarea [(ngModel)]="summaryContent" class="form-control" name="summaryContent"  rows="4" cols="50" placeholder="Summary content"></textarea>
                <button (click)="submitReview()" class="btn btn-primary btn-block">Submit</button>
                   
                </form>
          
              
              </div>
             
              <div class="col-md-3"></div>
            </div>
          </div>
        
        

    </div>
</div> 