th{color: white;
    background-color: cornflowerblue;
}
  
  tr {
    color: white;
  }

  .btnHTML {
    background-color: #008CBA;
    color:white;
}

.btnPDF {
    background-color: #555555;
    color: white;
}

button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

.delete{
  background-color: tomato;
}