<div class="container grid-wrapper" style="background-color: aliceblue;" *ngIf="articles">
    <div class="card grid-item" *ngFor="let art of articles">
        <span class="title">
            <h2><strong>{{art.articleInfo.title.value}}</strong></h2>
        </span>
        <span class="by">by</span>
        <span class="author" *ngFor="let a of art.authors.author">
            <a [routerLink]="['/articles/author', a.title]">{{' ' + a.firstName + ' ' + a.lastName + ' '}}</a>
        </span>
        <hr />
        <span class="by">Key Words:</span>
        <span *ngFor="let kw of art.keyWords.keyWord" class="keywords">
            <a [routerLink]="['/articles/keyword', kw]">{{' ' + kw + ' '}}</a>
        </span>
        <div>
            <button class="button btnHTML" (click)="getHTML(art.id)">View</button>
            <button class="button btnPDF" (click)="getPDF(art.id)">PDF</button>
        </div>
    </div>
</div>
