.card {
    display: block;
    border: 1px solid black;
    color: black;
    background-color: lightgoldenrodyellow;
}

h2 {
    font: bold;
}

.btnHTML {
    background-color: #008CBA;
}

.btnPDF {
    background-color: #555555;
}

.button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

.author a{
    color:darkslategrey;
    font-weight: bold;

}

.title {
    color: #000080;
}

.by {
    color: lightslategray;
    font-style: italic;
    font-size: smaller;
}