<div class="wrapper">
    <table>
        <tbody>
            <tr>
                <td rowspan="1">
                    <div class="image">
                        <img src="assets/images/user-profile.png" width="150" height="150">
                    </div>
                </td>
                <td rowspan="2">
                    <div class="container">
                        <h2>Radovi autora</h2>
                        <app-article-list [articles]="articles"></app-article-list> 
                    </div>
                </td>
            </tr>
            <tr>
                <div>
                    <p>Name:</p>
                    <p>Email:</p>
                </div>
            </tr>
        </tbody>
    </table>
</div>
